html {
  height: 90%;
}

body {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #253c3cd1;
}

.dialog-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5b449d;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
}

button {
  padding: 5px 20px;
}

#x {
  padding: 2px 5px;
  background-color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

.right-x {
  align-self: flex-end;
}

.left-x {
  align-self: flex-start;
}
